<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App Email</key>
	<string>holonet.swtor@gmail.com</string>
	<key>Category Query Param</key>
	<string>f</string>
	<key>Thread Query Param</key>
	<string>t</string>
	<key>Post Query Param</key>
	<string>p</string>
	<key>Paging Query Param</key>
	<string>page</string>
	<key>Dev Tracker Icon URL</key>
	<string>http://cdn-www.swtor.com/sites/all/files/en/coruscant/main/forums/icons/devtracker_icon.png</string>
	<key>Dev Avatar URL</key>
	<string>http://www.swtor.com/sites/all/files/avatars/BioWare.gif</string>
	<key>Sticky Icon URL</key>
	<string>http://cdn-www.swtor.com/community/images/swtor/misc/sticky.gif</string>
	<key>Dulfy.net URL</key>
	<string>http://dulfy.net</string>
	<key>Request Timeout</key>
	<integer>10</integer>
	<key>Localized</key>
	<dict>
		<key>de</key>
		<dict>
			<key>Thread Display URL</key>
			<string>http://www.swtor.com/de/community/showthread.php</string>
			<key>Forum Display URL</key>
			<string>http://www.swtor.com/de/community/forumdisplay.php</string>
			<key>Root Category ID</key>
			<integer>5</integer>
			<key>Developer Tracker ID</key>
			<integer>306</integer>
			<key>Developer Tracker URL</key>
			<string>http://www.swtor.com/de/community/devtracker.php?language=de</string>
		</dict>
		<key>fr</key>
		<dict>
			<key>Thread Display URL</key>
			<string>http://www.swtor.com/fr/community/showthread.php</string>
			<key>Forum Display URL</key>
			<string>http://www.swtor.com/fr/community/forumdisplay.php</string>
			<key>Root Category ID</key>
			<integer>4</integer>
			<key>Developer Tracker ID</key>
			<integer>305</integer>
			<key>Developer Tracker URL</key>
			<string>http://www.swtor.com/fr/community/devtracker.php?language=fr</string>
		</dict>
		<key>en</key>
		<dict>
			<key>Thread Display URL</key>
			<string>http://www.swtor.com/community/showthread.php</string>
			<key>Forum Display URL</key>
			<string>http://www.swtor.com/community/forumdisplay.php</string>
			<key>Root Category ID</key>
			<integer>3</integer>
			<key>Developer Tracker ID</key>
			<integer>304</integer>
			<key>Developer Tracker URL</key>
			<string>http://www.swtor.com/community/devtracker.php</string>
		</dict>
	</dict>
</dict>
</plist>
