[submodule "Third Party/AFNetworking"]
	path = Third Party/AFNetworking
	url = git@github.com:AFNetworking/AFNetworking.git
[submodule "Third Party/HTMLReader"]
	path = Third Party/HTMLReader
	url = https://github.com/nolanw/HTMLReader.git
[submodule "Third Party/SDWebImage"]
	path = Third Party/SDWebImage
	url = git@github.com:rs/SDWebImage.git
