<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Forum Display URL</key>
	<string>http://www.holonet.test/forum</string>
	<key>Thread Display URL</key>
	<string>http://www.holonet.test/thread</string>
	<key>Developer Tracker URL</key>
	<string>http://www.holonet.test/dev</string>
	<key>Category Query Param</key>
	<string>category</string>
	<key>Thread Query Param</key>
	<string>thread</string>
	<key>Post Query Param</key>
	<string>post</string>
	<key>Paging Query Param</key>
	<string>page</string>
	<key>Dev Tracker Icon URL</key>
	<string>http://www.holonet.test/devIcon.png</string>
	<key>Sticky Icon URL</key>
	<string>http://www.holonet.test/stickyIcon.png</string>
</dict>
</plist>
