<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App Email</key>
	<string>holonet.swtor@gmail.com</string>
	<key>Category Query Param</key>
	<string>category</string>
	<key>Thread Query Param</key>
	<string>thread</string>
	<key>Post Query Param</key>
	<string>post</string>
	<key>Paging Query Param</key>
	<string>page</string>
	<key>Dev Tracker Icon URL</key>
	<string>http://www.holonet.test/devIcon.png</string>
	<key>Dev Avatar URL</key>
	<string>http://www.holonet.test/devAvatar.png</string>
	<key>Sticky Icon URL</key>
	<string>http://www.holonet.test/stickyIcon.png</string>
	<key>Dulfy.net URL</key>
	<string>http://dulfy.test</string>
	<key>Request Timeout</key>
	<integer>10</integer>
	<key>Localized</key>
	<dict>
		<key>de</key>
		<dict>
			<key>Thread Display URL</key>
			<string>http://www.holonet.test/de/thread</string>
			<key>Forum Display URL</key>
			<string>http://www.holonet.test/de/forum</string>
			<key>Root Category ID</key>
			<integer>300</integer>
			<key>Developer Tracker ID</key>
			<integer>3000</integer>
			<key>Developer Tracker URL</key>
			<string>http://www.holonet.test/de/dev</string>
		</dict>
		<key>fr</key>
		<dict>
			<key>Thread Display URL</key>
			<string>http://www.holonet.test/fr/thread</string>
			<key>Forum Display URL</key>
			<string>http://www.holonet.test/fr/forum</string>
			<key>Root Category ID</key>
			<integer>200</integer>
			<key>Developer Tracker ID</key>
			<integer>2000</integer>
			<key>Developer Tracker URL</key>
			<string>http://www.holonet.test/fr/dev</string>
		</dict>
		<key>en</key>
		<dict>
			<key>Thread Display URL</key>
			<string>http://www.holonet.test/thread</string>
			<key>Forum Display URL</key>
			<string>http://www.holonet.test/forum</string>
			<key>Root Category ID</key>
			<integer>100</integer>
			<key>Developer Tracker ID</key>
			<integer>1000</integer>
			<key>Developer Tracker URL</key>
			<string>http://www.holonet.test/dev</string>
		</dict>
	</dict>
</dict>
</plist>
