<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navBackground</key>
	<string>19.0,19.0,19.0,1.0</string>
	<key>navText</key>
	<string>204.0,158.0,66.0,1.0</string>
	<key>contentBackground</key>
	<string>19.0,19.0,19.0,1.0</string>
	<key>contentHighlightBackground</key>
	<string>45.0,45.0,45.0,1.0</string>
	<key>contentTitle</key>
	<string>204.0,158.0,66.0,1.0</string>
	<key>contentText</key>
	<string>209.0,209.0,209.0,1.0</string>
	<key>contentHighlightText</key>
	<string>249.0,214.0,72.0,1.0</string>
	<key>headerHeight</key>
	<real>220</real>
	<key>headerText</key>
	<string>0.0,0.0,0.0,1.0</string>
	<key>headerBackground</key>
	<string>77.0,77.0,77.0,1.0</string>
	<key>instructionsIcon</key>
	<string>0.0,0.0,0.0,1.0</string>
	<key>instructionsIconBackground</key>
	<string>255.0,255.0,255.0,1.0</string>
	<key>instructionsFrame</key>
	<string>127.0,127.0,127.0,1.0</string>
	<key>activityIndicatorStyle</key>
	<integer>1</integer>
	<key>scrollViewIndicatorStyle</key>
	<integer>2</integer>
</dict>
</plist>
